.grid-wrapper {
    margin: 4rem;
    height: 800px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "rolling-bar-chart top-10-line-chart top-10-line-chart"
    "pareto pareto parts-table"; 
}
.top-10-line-chart { grid-area: top-10-line-chart; }
.rolling-bar-chart { grid-area: rolling-bar-chart; }
.pareto { grid-area: pareto; }
.parts-table { grid-area: parts-table; }