.grid-wrapper {
    margin: 4rem;
    margin-top: 1rem;
    height: 800px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.2fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px 30px; 
    grid-template-areas: 
    "rolling-bar-chart top-10-line-chart top-10-line-chart"
    "pareto pareto parts-table"; 
}

.wrapper {
    background-color: white; 
    height: 475px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 30%);
}

.top-10-line-chart { grid-area: top-10-line-chart; }
.rolling-bar-chart { grid-area: rolling-bar-chart; }
.pareto { grid-area: pareto; }
.parts-table { grid-area: parts-table; }