main {
    margin-left: 5rem;
    margin-top: 8rem;
}


.container {  
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 95%;
    display: grid; 
    grid-template-columns: 1.4fr 0.9fr 0.9fr 0.9fr 0.9fr 1fr; 
    grid-template-rows: 0.4fr 1.1fr 1.2fr; 
    gap: 30px 30px; 
    grid-template-areas: 
    "search details glance-sales glance-ytd glance-warranty glance-ytd-warranty"
    "search cumulative cumulative cumulative trends trends "
    "search tables tables map map map";
  }

.glance {
    padding: 1.5rem;
    height: 190px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 30%);
}

.glance h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.glance h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 1.5rem;
}

.glance h4 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.glance p {
    font-weight: 400;
}

.glance-box {
    height: 200px;
    width: 200px;
    background-color: white; 
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 30%);
}

.change-layer {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 100;
}

.search { 
    grid-area: search; 
    height: 100%;
}
  
.tables { 
    grid-area: tables;
    height: 100%;
}
  
.trends {
    grid-area: trends; 
}
  
.cumulative {
    grid-area: cumulative; 
}
  
.map {
    grid-area: map;
    height: 100%;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.details { grid-area: details; }
.glance-sales { grid-area: glance-sales; }
.glance-ytd { grid-area: glance-ytd; }
.glance-warranty { grid-area: glance-warranty; }
.glance-ytd-warranty { grid-area: glance-ytd-warranty; }