.heading-wrapper {
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: #507e3a;
    position: fixed;
    top: 0;
    position: fixed;
    z-index: 6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5rem;
    padding-left: 8rem;
    background-color: rgb(226 226 226);
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo-wrapper {
    position: relative;
    background-color: rgb(226 226 226);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.logo-icon {
    position: relative;
    height: 4rem;
    border: 3px solid #507e3a;
    border-radius: 5px;
    padding: 6px;
    background-color: white;
    z-index: 12;
}

nav {
    z-index: 8;
}

nav i {
    padding: 1.5rem 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 1rem;
}

nav a:hover {
    background-color: #7cb462;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}