
.search-table th {
    padding-left: 0;
}

.search-table th:nth-child(1) {
    width: 40px;
}

.search-table th:nth-child(2) {
    width: 55px;
    text-align: center;
}
.search-table th:nth-child(3) {
    padding-left: 15px;
}

.search-table {
    width: 100%;
}